<aside id="sidebar" class="sidebar">

    <ul class="sidebar-nav" id="sidebar-nav">

        <li class="nav-item">
            <a asp-area="Admin" asp-controller="Home" asp-action="Index" class="nav-link ">
                <i class="bi bi-grid"></i>
                <span>Yönetim Paneli</span>
            </a>
        </li>

        <li class="nav-item">
            <a asp-area="Admin" asp-controller="Horoscope" asp-action="Index" class="nav-link collapsed">
                <i class="bi bi-moon-stars"></i>
                <span>Horoscope</span>
            </a>
        </li>

        <li class="nav-item">
            <a asp-area="Admin" asp-controller="AstrologComment" asp-action="Index" class="nav-link collapsed">
                <i class="bi bi-chat-left"></i>
                <span>Astrolog Comment</span>
            </a>
        </li>

        <li class="nav-item">
            <a asp-area="Admin" asp-controller="HoroscopeGroup" asp-action="Index" class="nav-link collapsed">
                <i class="bi bi-command"></i>
                <span>Horoscope Group</span>
            </a>
        </li>

        <li class="nav-item">
            <a asp-area="Admin" asp-controller="DailyNew" asp-action="Index" class="nav-link collapsed">
                <i class="bi bi-cloud-sun"></i>
                <span>Daily New</span>
            </a>
        </li>
        <li class="nav-item">
            <a asp-area="Admin" asp-controller="Social" asp-action="Index" class="nav-link collapsed">
                <i class="bi bi-globe2"></i>
                <span>Socaial</span>
            </a>
        </li>
        <li class="nav-item">
            <a asp-area="Admin" asp-controller="Contact" asp-action="Index" class="nav-link collapsed">
                <i class="bi bi-person-lines-fill"></i>
                <span>Contact</span>
            </a>
        </li>

        <li class="nav-item">
            <a asp-area="Admin" asp-controller="Services" asp-action="Index" class="nav-link collapsed">
                <i class="bi bi-arrow-right-circle-fill"></i>
                <span>Service</span>
            </a>
        </li>
    </ul>

</aside>
