@model IEnumerable<Service>
@{
    ViewData["Title"] = "View";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@foreach (var service in Model)
{
    <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
        <div class="service-item item-cyan position-relative">


            <div>
                <h3>@service.Name</h3>
                <p>@service.Title</p>
                <a href="service-details.html" class="read-more stretched-link">Ayrıntılı bilgi <i
                        class="bi bi-arrow-right"></i></a>
            </div>
        </div>
    </div>

    <!-- End Service Item -->
}
