<section id="about" class="about section">

  <!-- Section Title -->
  <div class="container section-title" data-aos="fade-up">
    <h2>Neden Gezegen?</h2>
    <p>@Model.AppSetting.AboutText</p>
  </div><!-- End Section Title -->

  <div class="container">

    <div class="row gy-5">

      <div class="content col-xl-5 d-flex flex-column" data-aos="fade-up" data-aos-delay="100">
        @* <h3>Voluptatem dignissimos provident quasi</h3>
        <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
        dolore magna aliqua. Duis aute irure dolor in reprehenderit
        </p> *@
        <h3 style="display: flex; text-align: center; justify-content: center; justify-items: center;">Burcunuz hangi grupta?</h3>
      </div>
      
      
      <div class="col-xl-7" data-aos="fade-up" data-aos-delay="200">
        <div class="row gy-4">



         @foreach (var item in Model.HoroscopeGroups)
          {

            <div class="col-md-6 icon-box position-relative">
              <img src="@item.Image" alt="">
              <h4><a href="" class="stretched-link">@item.Name</a></h4>

              <p>@item.HoroscopeNames</p>
            </div>

            <!-- Icon-Box -->
          } 


        </div>
      </div>

    </div>

  </div>

</section>
