<section id="hero" class="hero section dark-background">

    <img src="@Model.AppSetting.ImageUrl" alt="" data-aos="fade-in">
        style="width: 100%; height: auto;" data-aos="fade-in">


    <div class="container text-center" data-aos="fade-up" data-aos-delay="100">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <h2>Gökyüzüne Bakıyoruz</h2>
                <p>@Model.AppSetting.Title</p>
              
            </div>
        </div>
    </div>

</section>