<section id="services" class="services section">

    <!-- Section Title -->
    <div class="container section-title" data-aos="fade-up">
        <h2>Sizin İçin :)</h2>

    </div><!-- End Section Title -->

    <div class="container">

        <div class="row g-5">

            @foreach (var service in Model.Services)
            {
                <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
                    <div class="service-item item-cyan position-relative">


                        <div>
                            <h3>@service.Name</h3>
                            <p>@service.Title</p>
                            <a href="service-details.html" class="read-more stretched-link">Ayrıntılı bilgi <i
                                    class="bi bi-arrow-right"></i></a>
                        </div>
                    </div>
                </div>

                <!-- End Service Item -->
            }

        </div>

    </div>

</section>