@model IEnumerable<DailyNew>
@{
    ViewData["Title"] = "Index";
}
<h1>Daily New</h1>
<a href="/Admin/DailyNew/Add"> yeni ekle</a>

@foreach (var daily in Model)
{
    <div class="card mb-3">
        <div class="card-body">
            <h5 class="card-title">@daily.Title</h5>
            <p>
                @daily.Text
            </p>
            <div class="">
                <a asp-action="Update" asp-route-id="@daily.Id" class="btn btn-primary btn-sm">Düzenle</a>
                <a asp-action="Delete" asp-route-id="@daily.Id" class="btn btn-danger btn-sm">Sil</a>
            </div>
        </div>
    </div>
}
