@model IEnumerable<DailyNew>
@{
    ViewData["Title"] = "Index";
}
<h1>Daily New</h1>

@foreach (var daily in Model)
{
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">@daily.Title</h5>
            <p>
                @daily.Text
            </p>
        </div>
    </div>
}
