@{
    ViewData["Title"] = "Index";
}
<h1>Contact Sayfası</h1>
<div class="card">
    <div class="card-body text-center">
        <h5 class="card-title">Contact Form</h5>


        <form class="row g-3 justify-content-center">
            <div class="col-md-6">
                <div class="form-floating mb-3">
                    <input type="email" class="form-control" id="floatingEmail" placeholder="Your Email">
                    <label for="floatingEmail">Email</label>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-floating mb-3">
                    <input class="form-control" id="floatingPassword" placeholder="Phone">
                    <label for="floatingPassword">Phone</label>
                </div>
            </div>
            <div class="col-md-12">
                <div class="form-floating mb-3">
                    <textarea class="form-control" placeholder="Address" id="floatingTextarea"
                        style="height: 100px;"></textarea>
                    <label for="floatingTextarea">Address</label>
                </div>
            </div>
            <div class="text-center">
                <button type="submit" class="btn btn-primary">Gönder</button>
                <button type="reset" class="btn btn-secondary">Düzenle</button>
            </div>
        </form>

    </div>
</div>