@model Service

<div class="container-fluid pt-4 px-4">
    <div class="bg-light rounded p-4">
        <h6 class="display-6 fs-3 text-primary mb-4">Hizmet Ekleme</h6>
        <form asp-area="Admin" asp-controller="Services" asp-action="Add" method="post">
            <div class="row">
                <div class="col-12">
                    <div class="mb-3">
                        <label asp-for="Name" class="form-label"></label>
                        <input asp-for="Name" class="form-control">
                        <span class="text-danger" ></span>
                    </div>
                    <div class="mb-3">
                        <label asp-for="Title" class="form-label"></label>
                        <input asp-for="Title" class="form-control">
                        <span class="text-danger" ></span>
                    </div>
                    
                </div>
            </div>
            <div class="d-flex justify-content-end">
                <button type="submit" class="btn btn-primary">Ekle</button>
            </div>
        </form>
    </div>
</div>