@model IEnumerable<Service>
@{
    ViewData["Title"] = "Index";
}
<h1>Service</h1>
@foreach (var item in Model)
{
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">@item.Name</h5>
            <p class="card-text">@item.Title</p>


            <td>
                <a href="/Edit" class="btn btn-primary btn-sm">Düzenle</a>
                <a href="/Delete" class="btn btn-danger btn-sm">Sil</a>
            </td>
        </div>
    </div>
}