@model IEnumerable<Horoscope>
@{
    ViewData["Title"] = "Index";
}
<h1>Horoscope</h1>

<div class="d-flex justify-content-center">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Horoscope</th>
                <th scope="col">Range Date</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var horoscope in Model)
            {
                <tr>
                    <th scope="row">@horoscope.Id</th>
                    <td>@horoscope.Name</td>
                    <td>@horoscope.DateRange</td>
                    <td>
                        <a href="/Edit/@horoscope.Id" class="btn btn-primary btn-sm">Düzenle</a>
                        <a href="/Delete/@horoscope.Id" class="btn btn-danger btn-sm">Sil</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
