@model HoroscopeUpdateDto

<div class="container-fluid pt-4 px-4">
    <div class="bg-light rounded p-4">
        <h6 class="display-6 fs-3 text-primary mb-4">Hizmet Güncelleme</h6>
        <form asp-area="Admin" asp-controller="Horoscope" asp-action="Update" method="post">
            <div class="row">
                <div class="mb-3">
                    <label asp-for="Image" class="form-label"></label>
                    <input asp-for="Image" class="form-control" type="file" />
                    <span asp-validation-for="Image" class="text-danger">
                    </span>
                </div>
            </div>
    </div>
    <div class="d-flex justify-content-end">
        <button type="submit" class="btn btn-primary">Değişikleri Kaydet</button>
        <a asp-action="Index" asp-area="Admin" asp-controller="Horoscope" class="btn btn-danger btn-sm">İptal</a>
    </div>
    </form>
</div>
