<section id="services" class="services section">

    <!-- Section Title -->
    <div class="container section-title" data-aos="fade-up">
        <h2>Sizin İçin :)</h2>

    </div><!-- End Section Title -->

    <div class="container">

        <div class="row g-5">

           @await Component.InvokeAsync("Service")

        </div>

    </div>

</section>