@model AppSetting


<a href="/home" class="logo d-flex align-items-center">
    <!-- Uncomment the line below if you also wish to use an image logo -->
    <!-- <img src="~/ui/assets/img/logo.png" alt=""> -->
    <h1 class="sitename">@Model.BrandName</h1>
</a>