@model IEnumerable<HoroscopeGroup>
@{
    ViewData["Title"] = "Index";
}
<h1>Horoscope Group</h1>

@foreach (var horosgroup in Model)
{
    <div class="card mb-3">
        <div class="row g-0">
            <div class="col-md-4">
                <img src=" class=" img-fluid rounded-start" alt="...">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">@horosgroup.Name</h5>
                    <p class="card-text">@horosgroup.HoroscopeNames</p>
                </div>
            </div>
        </div>
    </div>
}
